
body {
  padding: 1.5em;
  font-family: 'Cormorant Garamond', serif;
  background: linear-gradient(
      to top,
      rgba(255, 81, 50, 0.9),
      rgba(254, 45, 88, 0.9)
    ),url(http://i.imgur.com/HMZmee4.jpg);
  }
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);

}

h1, h2, h3, p {
  color: #333;
  margin: 0;
}

.body-inner {
  /*border-top: 20px solid seagreen;*/
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(#fff, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.2);
}

a {
  color: rgba(254, 45, 88, 0.9);
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.social {
  display: flex;
  opacity: .5;
  justify-content: space-around;
  text-transform: lowercase;
  clear: both;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  transition: .2s ease;
}

.social:hover {
  opacity: 1;
}

.social svg {
  width: 2rem;
}

/* makes anchor tags with svg clickable */

.svg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover-photo {
  max-width: 100%;
  background: url('../img/kalee-photo.png') no-repeat;
  min-height: 30rem;
  background-size: cover;

}

h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  padding: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 1.5em;
}

h3 {
  font-size: 1.5em;
}

.logo {



}

.logo svg {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 100px;
  top: 4px;
  background: #333;
  border: 3px solid #333;
  fill: white;
}

nav {
  display: flex;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

nav a {
  color: white;
  width: 100%;
  padding: .5em;
  font-size: 1em;
  text-align: right;
  background: linear-gradient(70deg, #94719A, #3AC5C9)
}

nav a.current {
  background: #FFFFF8;
  color: #333;
}

figure {
  font-size: 1.3em;
  margin-bottom: 2em;
}

figure img {
  margin: 0 0 .5em 0;
}

figure figcaption {
  display: flex;
  flex-wrap: wrap;
}

figcaption .info {
  display: none;
}


@media (min-width: 1000px) {

  body {
    padding: 2em;
  }

  nav a {
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
  }

  figcaption .info {
    /*display: block;*/
  }

  h1 {
    font-size: 3em;
    width: 60%;
    margin: 0 auto;
  }
}
